.faq-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-top: 30px;

  .faq-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .faq-head-content {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      @media screen and (max-width: 527px) {
        flex-direction: column;
        align-items: flex-end;
      }

      .faq-title {
        font-family: Almarai;
        direction: rtl;
        font-size: 50px;
        font-weight: 700;
        line-height: 65px;
        text-align: right;

        @media screen and (max-width: 768px) {
          font-size: 30px;
          line-height: 45px;
        }

        span {
          color: #52a0bb;
          direction: rtl;
          margin-right: 10px;
        }
      }

      .faq-btn {
        width: 223px;
        height: 56px;
        gap: 16px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-family: Almarai;
        font-size: 20px;
        font-weight: 700;
        line-height: 34px;

        background-color: #1b6485;
        @media screen and (max-width: 768px) {
          width: 200px;
          height: 50px;
          font-size: 20px;
          padding: 5px 10px 5px 10px;
        }
      }
    }

    hr {
      width: 100%;
    }
    .faq-head-text {
      width: 782px;
      font-family: Almarai;
      font-size: 16px;
      font-weight: 400;
      line-height: 27.2px;
      text-align: right;
      @media screen and (max-width: 768px) {
        width: 100%;
      }

      p {
        direction: rtl;
      }
    }
  }

  .faq-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 32px;

    .faq-content-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 48px;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      .title {
        font-family: Almarai;
        font-size: 40px;
        font-weight: 700;
        text-align: right;
        @media screen and (max-width: 527px) {
          font-family: Almarai;
          font-size: 28px;
          line-height: 42px;
          text-align: right;
        }
      }

      .faq-content-text {
        font-family: Almarai;
        direction: rtl;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }

    .faq-content-img {
      width: 50%;
      height: 100%;
      gap: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 16px 0px 0px 0px;
      border-radius: 16px;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        max-height: 100%;
        border-radius: 16px;
      }

      .inner-slider-nav-buttons {
        width: 100%;
        padding: 0px 10px 0px 10px;
        font-family: Almarai;
        font-size: 20px;
        font-weight: 700;
        line-height: 34px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        position: absolute;
        .prev-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
        }
        .next-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1000;
        }
      }
    }

    .faqContainer {
      width: 100%;
      direction: rtl;
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      .accordion {
        width: 45%;
        margin-bottom: 10px;
        justify-content: space-between;
        flex-direction: row-reverse;
        border-radius: 4px;
        overflow: hidden;
        transition: all 0.1s ease-in-out;
        @media (max-width: 768px) {
          width: 100%;
        }
        &.open {
          .accordionDetails {
            max-height: 500px;
            padding: 10px 15px;
          }
        }

        .accordionSummary {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 15px;
          padding-top: 20px;
          cursor: pointer;
          border-top: 1px solid rgb(0, 0, 0);
          font-family: Almarai;
          font-size: 20px;
          font-weight: 700;
          line-height: 34px;
          text-align: right;

          h3 {
            margin: 0;
            font-size: 16px;
          }

          .icon {
            font-size: 18px;
            font-weight: bold;
            line-height: 1;
          }
        }

        .accordionDetails {
          max-height: 0;
          width: 100%;
          overflow: hidden;
          display: flex;
          justify-content: flex-start;
          direction: rtl;
          background-color: #fff;

          transition: max-height 0.1s ease-in-out, padding 0.1s ease-in-out;

          p {
            font-family: Almarai;
            font-size: 20px;
            font-weight: 400;
            line-height: 34px;
            text-align: right;
          }
        }
      }
    }
  }
}
