.department_main {
  margin-top: 50px;
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  gap: 84px;
  @media screen and (max-width: 1024px) {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 0px;
  }
}
