.scientific_journal_main {
  margin-top: 50px;
  margin-bottom: 100px;
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 48px;
  @media screen and (max-width: 1024px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  .scientific_journal_head {
    width: 100%;
    font-family: Almarai;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    text-align: right;
    p {
      span {
        color: #52a0bb;
      }
      @media screen and (max-width: 768px) {
        font-size: 30px;
        line-height: 45px;
      }
    }
  }

  .scientific_journal_text {
    font-family: Almarai;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    text-align: right;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 27.2px;
    }
  }
  .journal_statistics_head {
    font-family: Almarai;
    font-size: 40px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
  }

  .scientific_journal_statistics {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
    }

    .single_statistic {
      width: 533.33px;
      height: 208px;
      padding: 24px 0px 0px 0px;
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      align-items: center;
      gap: 24px;
      @media screen and (max-width: 1024px) {
        width: 50%;
      }
      @media screen and (max-width: 425px) {
        width: 90%;
        margin: 0 auto;
      }

      .statistic_info {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: 12px;

        .statistic_number {
          font-family: Almarai;
          font-size: 50px;
          font-weight: 700;
          line-height: 65px;
          text-align: center;

          @media screen and (max-width: 768px) {
            font-size: 40px;
          }
        }

        .statistic_text {
          font-family: Almarai;
          font-size: 20px;
          font-weight: 400;
          line-height: 34px;
          text-align: center;
          @media screen and (max-width: 768px) {
            font-size: 18px;
          }
        }
      }
    }
  }

  .scientific_journal_members {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 40px;
    gap: 32px;

    hr {
      width: 100%;
    }

    .journal_members_head {
      width: 100%;
      font-family: Almarai;
      font-size: 50px;
      font-weight: 700;
      line-height: 65px;
      text-align: right;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      p {
        span {
          color: #52a0bb;
        }
        @media screen and (max-width: 768px) {
          font-size: 30px;
          line-height: 45px;
        }
      }
    }

    .journal_members_text {
      width: 100%;
      font-family: Almarai;
      font-size: 16px;
      font-weight: 400;
      line-height: 27.2px;
      text-align: right;
      direction: rtl;

      @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 27.2px;
      }
    }

    .members_container {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 32px;
      flex-direction: row-reverse;
      @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
      }

      .single_member {
        width: 294px;
        padding: 24px 0px 0px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        @media screen and (max-width: 768px) {
          width: 300px;
        }
        @media screen and (max-width: 425px) {
          width: 90%;
          margin: 0 auto;
          justify-content: space-between;
        }

        .member_img_box {
          width: 180px;
          height: 180px;
          border-radius: 100%;

          img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            object-fit: cover;
          }
        }

        .member_info {
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 12px;
          .member_name {
            font-family: Almarai;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            .member_ranking {
              color: #52a0bb;
            }
            @media screen and (max-width: 768px) {
              font-size: 40px;
            }
          }

          .member_text,
          .member_rating {
            font-family: Almarai;
            font-size: 20px;
            font-weight: 400;
            line-height: 34px;
            text-align: center;
            @media screen and (max-width: 768px) {
              font-size: 18px;
            }
          }
        }
      }
    }
    .show_more_btn {
      margin: 0 auto;
      width: 245px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      border-radius: 37px;
      font-family: Almarai;
      font-size: 20px;
      font-weight: 400;
      line-height: 34px;
      text-align: left;

      border: 1px solid black;
    }
  }

  .journal_releases_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 40px;
    direction: rtl;
    .show_more_btn {
      margin: 0 auto;
      width: 245px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      gap: 16px;
      border-radius: 37px;
      font-family: Almarai;
      font-size: 20px;
      font-weight: 400;
      line-height: 34px;
      text-align: left;

      border: 1px solid black;
    }
    .journal_releases_head {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .buttons_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;
        }
        .title {
          font-family: Almarai;
          font-size: 50px;
          font-weight: 700;
          line-height: 65px;
          text-align: right;
          p {
            span {
              color: #52a0bb;
            }
            @media screen and (max-width: 768px) {
              font-size: 30px;
              line-height: 45px;
            }
          }
        }

        .head_buttons {
          display: flex;
          justify-content: space-between;
          gap: 24px;
          font-family: Almarai;
          font-size: 20px;
          font-weight: 700;
          line-height: 34px;
          text-align: left;
          @media screen and (max-width: 768px) {
            flex-direction: column;
          }
          .select_btn {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 24px 0px 24px;
            gap: 16px;
            border-radius: 37px;
            border: 1px solid black;

            .select {
              cursor: pointer;
              outline: none;

              .option {
                border-bottom: 1px solid black;
              }
            }
          }
        }
      }

      .about_journal_release_text {
        width: 100%;
        font-family: Almarai;
        font-size: 16px;
        font-weight: 400;
        line-height: 27.2px;
        text-align: right;
        direction: rtl;

        @media screen and (max-width: 768px) {
          font-size: 16px;
          line-height: 27.2px;
        }
      }
    }

    .journal_releases_content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      @media screen and (max-width: 1440px) {
        justify-content: center;
      }

      .single_release {
        max-width: 517.33px;
        min-width: 366px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 20px;
        @media screen and (max-width: 1440px) {
          max-width: 366px;
          min-width: 340px;
        }
        @media screen and (max-width: 550px) {
          width: 100%;
        }

        .release_img_box {
          max-width: 517.33px;
          min-width: 200px;
          border-radius: 16px;
          @media screen and (max-width: 768px) {
            width: 100%;
            height: 315px;
          }
          @media screen and (max-width: 550px) {
            width: 100%;
          }

          img {
            width: 100%;
            height: 100%;
            border-radius: 16px;
            object-fit: cover;
          }
        }

        .release_info {
          width: 100%;
          display: flex;
          gap: 16px;
          flex-direction: column;

          .release_info_head {
            width: 100%;
            display: flex;
            font-family: Almarai;
            font-size: 20px;
            font-weight: 400;
            line-height: 34px;
            text-align: right;
            justify-content: space-between;
            @media screen and (max-width: 768px) {
              font-size: 20px;
              font-weight: 400;
              line-height: 34px;
              text-align: right;
            }
          }
          .release_title {
            font-family: Almarai;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            text-align: right;
            @media screen and (max-width: 768px) {
              font-size: 24px;
              font-weight: 700;
              line-height: 36px;
              text-align: right;
            }
          }
        }
      }
    }
  }
}
