.department-content {
  display: flex;
  justify-content: flex-end;
  gap: 128px;
  @media screen and (max-width: 525px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 768px) {
    gap: 30px;
  }

  .downloads {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .download-btn {
      width: 300px;
      height: 56px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 16px 24px 16px 24px;
      gap: 16px;
      border-radius: 100px;
      background-color: #1b6485;
      color: white;
      span {
        font-family: Almarai;
        font-size: 18px;
        font-weight: 400;
        line-height: 30.6px;
        text-align: left;
      }
    }
  }
  .department-goals-and-importance {
    display: flex;
    flex-direction: column;
    gap: 34px;

    .goals {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 56px;
      @media screen and (max-width: 768px) {
        gap: 32px;
      }

      .title {
        font-family: Almarai;
        font-size: 64px;
        font-weight: 700;
        line-height: 83.2px;
        text-align: right;
        direction: rtl;
        @media screen and (max-width: 768px) {
          font-size: 30px;
          font-weight: 700;
          line-height: 45px;
          text-align: right;
        }
      }
      .goals-text {
        direction: rtl;
        font-family: Almarai;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        text-align: right;
        @media screen and (max-width: 768px) {
          font-size: 18px;
          font-weight: 400;
          line-height: 30.6px;
        }
      }
    }
    .department-capabilities {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 56px;
      @media screen and (max-width: 768px) {
        gap: 32px;
      }

      .title {
        font-family: Almarai;
        font-size: 64px;
        font-weight: 700;
        line-height: 83.2px;
        text-align: right;
        direction: rtl;
        @media screen and (max-width: 768px) {
          font-size: 30px;
          font-weight: 700;
          line-height: 45px;
          text-align: right;
        }
      }
      .department-capabilities-text {
        direction: rtl;
        font-family: Almarai;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        text-align: right;
        @media screen and (max-width: 768px) {
          font-size: 18px;
          font-weight: 400;
          line-height: 30.6px;
        }
      }
    }
  }
}
